.div_simple {
    margin: 0.5em;
    padding: 0.8em;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.85);
    /* width: calc(90%); */
}

.div_shadow {
    transition-duration: 400ms;
}

.div_shadow:hover {
    /* transition-duration: 400ms; */
    background-color: rgba(255, 255, 255, 1.0);
    box-shadow: 0.3em 0.3em 1em 0.1em rgba(0, 0, 0, 0.40);
}
#div_left_hidden {
    display: block;
}
#div_chat {
    /* position: absolute; */
    /* left: 0; */
    height: calc(95%);
    width: 0em;
    background-color: rgba(255, 255, 255, 0.85);
}