.ul_hide_list {
    list-style-type: none;
}

.ul_simple {
    margin: 0px;
    padding: 4px;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.85);
}




.li_simple {
    margin: 0px;
    padding: 0px;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.85);
}

