@import url("/a.css");
@import url("/body.css");
@import url("/div.css");
@import url("/list.css");
@font-face {
    font-family: "Ubuntu Mono";
    src: url("/fonts/UbuntuMono-R.ttf");
}
* {
    font-family: "Ubuntu Mono";
}
html{
    height: 100%;
    /* margin: 0; */
    /* padding: 0; */
}
.hide {
    display: none;
}

/* .leftest {
    margin-left: 12em;
}

.rightest {
    margin-right: 12em;
} */